In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import json
import re
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [3]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
* A "category_id" column that has entries going sequentially from "cat1" to "cat*n*", where *n* is the number of unique categories
* A "category" column that contains only the category titles

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
* A "subcategory_id" column that has entries going sequentially from "subcat1" to "subcat*n*", where *n* is the number of unique subcategories
* A "subcategory" column that contains only the subcategory titles

Export the DataFrame as a `subcategory.csv` CSV file.

In [4]:
# Get the crowdfunding_info_df columns.
crowdfunding_info_df.columns

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category'],
      dtype='object')

In [5]:
# Assign the category and subcategory values to category and subcategory columns.

crowdfunding_info_df[['category', 'subcategory']] = crowdfunding_info_df['category & sub-category'].str.split('/', n =1, expand = True)
crowdfunding_info_df

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks,food,food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays,theater,plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays,theater,plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock,music,indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks,food,food trucks

In [6]:
# Get the unique categories and subcategories in separate lists.
categories = crowdfunding_info_df['category'].unique()
subcategories = crowdfunding_info_df['subcategory'].unique()
print(categories)
print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']
['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [7]:
# Get the number of distinct values in the categories and subcategories lists.
print(len(categories))
print(len(subcategories))

9
24

In [8]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [9]:
# Use a list comprehension to add "cat" to each category_id. 

cat_ids = ['cat'+str(i) for i in range (1, len(category_ids)+1)]

# Use a list comprehension to add "subcat" to each subcategory_id.    

scat_ids = ['subcat'+str(i) for i in range (1, len(subcategory_ids)+1)]
    
print(cat_ids)
print(scat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [10]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame({'category_id':cat_ids, 'category': categories})
# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 
subcategory_df = pd.DataFrame({'subcategory_id':scat_ids, 'subcategory': subcategories})

In [11]:
category_df

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [12]:
subcategory_df

   subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio

In [13]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [14]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [15]:
# Rename the blurb, launched_at, and deadline columns.
campaign_df = campaign_df.rename(columns={"blurb": "description",
                                          "launched_at": "launch_date",
                                          "deadline": "end_date"
                                          }, errors="raise")
                                        
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [16]:
# Convert the goal and pledged columns to a `float` data type.
campaign_df['goal'] = campaign_df['goal'].astype("float64", copy=None, errors='raise')
campaign_df['pledged'] = campaign_df['pledged'].astype("float64", copy=None, errors='raise')
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [17]:
# Check the datatypes
campaign_df.dtypes

cf_id                        int64
contact_id                   int64
company_name                object
description                 object
goal                       float64
pledged                    float64
outcome                     object
backers_count                int64
country                     object
currency                    object
launch_date                  int64
end_date                     int64
staff_pick                    bool
spotlight                     bool
category & sub-category     object
category                    object
subcategory                 object
dtype: object

In [18]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt
from datetime import datetime as dt
campaign_df['launch_date'] = pd.to_datetime(campaign_df['launch_date'], unit='s').dt.strftime('%Y-%m-%d')
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'], unit='s').dt.strftime('%Y-%m-%d')
campaign_df['launch_date'] = pd.to_datetime(campaign_df['launch_date'])
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'])
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,False,False,theater/plays,theater,plays

In [19]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.
campaign_merged_df = pd.merge(campaign_df, category_df, on = "category")
campaign_merged_df = pd.merge(campaign_merged_df, subcategory_df, on = "subcategory")

campaign_merged_df.tail(10)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_id,subcategory_id
990,399,5983,"Dixon, Perez and Banks",Re-engineered encompassing definition,8300.0,2111.0,failed,57,CA,CAD,2021-12-29,2022-01-16,False,False,photography/photography books,photography,photography books,cat8,subcat15
991,1378,2873,Clements Ltd,Persistent bandwidth-monitored framework,3700.0,1343.0,failed,52,US,USD,2020-07-07,2021-07-27,False,False,photography/photography books,photography,photography books,cat8,subcat15
992,806,2961,Walter Inc,Streamlined 5thgeneration intranet,10000.0,8142.0,failed,263,AU,AUD,2020-12-20,2021-01-31,False,False,photography/photography books,photography,photography books,cat8,subcat15
993,1563,3043,"Sanders, Farley and Huffman",Cross-group clear-thinking task-force,172000.0,55805.0,failed,1691,US,USD,2021-04-08,2021-12-18,True,False,photography/photography books,photography,photography books,cat8,subcat15
994,1951,6013,Rodriguez-Robinson,Ergonomic methodical hub,5900.0,4997.0,failed,114,IT,EUR,2021-07-23,2021-11-25,False,True,photography/photography books,photography,photography books,cat8,subcat15
995,461,3521,Erickson-Rogers,De-engineered even-keeled definition,9800.0,7608.0,canceled,75,IT,EUR,2021-07-03,2021-07-08,False,True,photography/photography books,photography,photography books,cat8,subcat15
996,1095,3565,Young and Sons,Innovative disintermediate encryption,2400.0,4596.0,successful,144,US,USD,2020-11-28,2021-02-28,False,False,journalism/audio,journalism,audio,cat9,subcat24
997,1388,4517,Valenzuela-Cook,Total incremental productivity,6700.0,7496.0,successful,300,US,USD,2021-01-04,2021-10-04,False,False,journalism/audio,journalism,audio,cat9,subcat24
998,2448,2389,Little Ltd,Decentralized bandwidth-monitored ability,6900.0,12155.0,successful,419,US,USD,2021-01-25,2021-04-18,False,False,journalism/audio,journalism,audio,cat9,subcat24
999,602,2153,Giles-Smith,Right-sized web-enabled intranet,9700.0,11929.0,successful,331,US,USD,2022-02-01,2022-02-16,False,False,journalism/audio,journalism,audio,cat9,subcat24

In [20]:
# Drop unwanted columns
campaign_cleaned = campaign_merged_df.drop(['staff_pick', 'spotlight', 'category & sub-category','category', 'subcategory'],axis=1)
campaign_cleaned.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,cat1,subcat1
1,1175,2288,Werner-Bryant,Virtual uniform frame,1800.0,7991.0,successful,222,US,USD,2020-06-20,2021-01-30,cat1,subcat1
2,873,2067,Stewart LLC,Cloned bi-directional architecture,1300.0,12047.0,successful,113,US,USD,2020-11-29,2021-06-11,cat1,subcat1
3,2568,5989,Castillo-Carey,Cross-platform solution-oriented process improvement,142400.0,21307.0,failed,296,US,USD,2020-05-05,2021-05-30,cat1,subcat1
4,1211,3307,"Wright, Hartman and Yu",User-friendly tertiary array,3300.0,12437.0,successful,131,US,USD,2021-01-29,2021-02-13,cat1,subcat1

In [21]:
# Export the DataFrame as a CSV file. 
campaign_cleaned.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [22]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2)
contact_info_df.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [23]:
column_names = contact_info_df.columns
print(column_names)

Index(['   '], dtype='object')

In [24]:
contact_info_df.columns = ['contact_info']

In [25]:
contact_info_df.head()

                                                                                contact_info
0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

In [26]:
contact_info_df = contact_info_df.drop(0)

In [27]:
contact_info_df.head()

                                                                                contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
5        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [28]:
# Split the data in the "column_name" into separate columns
contact_info_df['parsed_data'] = contact_info_df['contact_info'].apply(lambda x: json.loads(x))
contact_info_df = pd.concat([contact_info_df.drop(['contact_info'], axis=1), contact_info_df['parsed_data'].apply(pd.Series)], axis=1)

# Display the DataFrame
contact_info_df.head(10)

,parsed_data,contact_id,name,email
1,"{'contact_id': 4661, 'name': 'Cecilia Velasco', 'email': 'cecilia.velasco@rodrigues.fr'}",4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr
2,"{'contact_id': 3765, 'name': 'Mariana Ellis', 'email': 'mariana.ellis@rossi.org'}",3765,Mariana Ellis,mariana.ellis@rossi.org
3,"{'contact_id': 4187, 'name': 'Sofie Woods', 'email': 'sofie.woods@riviere.com'}",4187,Sofie Woods,sofie.woods@riviere.com
4,"{'contact_id': 4941, 'name': 'Jeanette Iannotti', 'email': 'jeanette.iannotti@yahoo.com'}",4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com
5,"{'contact_id': 2199, 'name': 'Samuel Sorgatz', 'email': 'samuel.sorgatz@gmail.com'}",2199,Samuel Sorgatz,samuel.sorgatz@gmail.com
6,"{'contact_id': 5650, 'name': 'Socorro Luna', 'email': 'socorro.luna@hotmail.com'}",5650,Socorro Luna,socorro.luna@hotmail.com
7,"{'contact_id': 5889, 'name': 'Carolina Murray', 'email': 'carolina.murray@knight.com'}",5889,Carolina Murray,carolina.murray@knight.com
8,"{'contact_id': 4842, 'name': 'Kayla Moon', 'email': 'kayla.moon@yahoo.de'}",4842,Kayla Moon,kayla.moon@yahoo.de
9,"{'contact_id': 3280, 'name': 'Ariadna Geisel', 'email': 'ariadna.geisel@rangel.com'}",3280,Ariadna Geisel,ariadna.geisel@rangel.com
10,"{'contact_id': 5468, 'name': 'Danielle Ladeck', 'email': 'danielle.ladeck@scalfaro.net'}",5468,Danielle Ladeck,danielle.ladeck@scalfaro.net

In [29]:
# Split "name" into "first_name" and "last_name"
contact_info_df[['first_name', 'last_name']] = contact_info_df['name'].str.split(' ', n=1, expand=True)
contact_info_df.head(10)

,parsed_data,contact_id,name,email,first_name,last_name
1,"{'contact_id': 4661, 'name': 'Cecilia Velasco', 'email': 'cecilia.velasco@rodrigues.fr'}",4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr,Cecilia,Velasco
2,"{'contact_id': 3765, 'name': 'Mariana Ellis', 'email': 'mariana.ellis@rossi.org'}",3765,Mariana Ellis,mariana.ellis@rossi.org,Mariana,Ellis
3,"{'contact_id': 4187, 'name': 'Sofie Woods', 'email': 'sofie.woods@riviere.com'}",4187,Sofie Woods,sofie.woods@riviere.com,Sofie,Woods
4,"{'contact_id': 4941, 'name': 'Jeanette Iannotti', 'email': 'jeanette.iannotti@yahoo.com'}",4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com,Jeanette,Iannotti
5,"{'contact_id': 2199, 'name': 'Samuel Sorgatz', 'email': 'samuel.sorgatz@gmail.com'}",2199,Samuel Sorgatz,samuel.sorgatz@gmail.com,Samuel,Sorgatz
6,"{'contact_id': 5650, 'name': 'Socorro Luna', 'email': 'socorro.luna@hotmail.com'}",5650,Socorro Luna,socorro.luna@hotmail.com,Socorro,Luna
7,"{'contact_id': 5889, 'name': 'Carolina Murray', 'email': 'carolina.murray@knight.com'}",5889,Carolina Murray,carolina.murray@knight.com,Carolina,Murray
8,"{'contact_id': 4842, 'name': 'Kayla Moon', 'email': 'kayla.moon@yahoo.de'}",4842,Kayla Moon,kayla.moon@yahoo.de,Kayla,Moon
9,"{'contact_id': 3280, 'name': 'Ariadna Geisel', 'email': 'ariadna.geisel@rangel.com'}",3280,Ariadna Geisel,ariadna.geisel@rangel.com,Ariadna,Geisel
10,"{'contact_id': 5468, 'name': 'Danielle Ladeck', 'email': 'danielle.ladeck@scalfaro.net'}",5468,Danielle Ladeck,danielle.ladeck@scalfaro.net,Danielle,Ladeck

In [30]:
contact_info_df = contact_info_df.drop('name', axis=1)
contact_info_df.head(10)

,parsed_data,contact_id,email,first_name,last_name
1,"{'contact_id': 4661, 'name': 'Cecilia Velasco', 'email': 'cecilia.velasco@rodrigues.fr'}",4661,cecilia.velasco@rodrigues.fr,Cecilia,Velasco
2,"{'contact_id': 3765, 'name': 'Mariana Ellis', 'email': 'mariana.ellis@rossi.org'}",3765,mariana.ellis@rossi.org,Mariana,Ellis
3,"{'contact_id': 4187, 'name': 'Sofie Woods', 'email': 'sofie.woods@riviere.com'}",4187,sofie.woods@riviere.com,Sofie,Woods
4,"{'contact_id': 4941, 'name': 'Jeanette Iannotti', 'email': 'jeanette.iannotti@yahoo.com'}",4941,jeanette.iannotti@yahoo.com,Jeanette,Iannotti
5,"{'contact_id': 2199, 'name': 'Samuel Sorgatz', 'email': 'samuel.sorgatz@gmail.com'}",2199,samuel.sorgatz@gmail.com,Samuel,Sorgatz
6,"{'contact_id': 5650, 'name': 'Socorro Luna', 'email': 'socorro.luna@hotmail.com'}",5650,socorro.luna@hotmail.com,Socorro,Luna
7,"{'contact_id': 5889, 'name': 'Carolina Murray', 'email': 'carolina.murray@knight.com'}",5889,carolina.murray@knight.com,Carolina,Murray
8,"{'contact_id': 4842, 'name': 'Kayla Moon', 'email': 'kayla.moon@yahoo.de'}",4842,kayla.moon@yahoo.de,Kayla,Moon
9,"{'contact_id': 3280, 'name': 'Ariadna Geisel', 'email': 'ariadna.geisel@rangel.com'}",3280,ariadna.geisel@rangel.com,Ariadna,Geisel
10,"{'contact_id': 5468, 'name': 'Danielle Ladeck', 'email': 'danielle.ladeck@scalfaro.net'}",5468,danielle.ladeck@scalfaro.net,Danielle,Ladeck

In [31]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values = []

for index, row in contact_info_df.iterrows():
    contact_dict = {
        "Contact ID": row["contact_id"],
        "First Name": row["first_name"],
        "Last Name": row["last_name"],
        "Email": row["email"]
    }
    dict_values.append(contact_dict)

# Print out the list of values for each row.
print(dict_values)

[{'Contact ID': 4661, 'First Name': 'Cecilia', 'Last Name': 'Velasco', 'Email': 'cecilia.velasco@rodrigues.fr'}, {'Contact ID': 3765, 'First Name': 'Mariana', 'Last Name': 'Ellis', 'Email': 'mariana.ellis@rossi.org'}, {'Contact ID': 4187, 'First Name': 'Sofie', 'Last Name': 'Woods', 'Email': 'sofie.woods@riviere.com'}, {'Contact ID': 4941, 'First Name': 'Jeanette', 'Last Name': 'Iannotti', 'Email': 'jeanette.iannotti@yahoo.com'}, {'Contact ID': 2199, 'First Name': 'Samuel', 'Last Name': 'Sorgatz', 'Email': 'samuel.sorgatz@gmail.com'}, {'Contact ID': 5650, 'First Name': 'Socorro', 'Last Name': 'Luna', 'Email': 'socorro.luna@hotmail.com'}, {'Contact ID': 5889, 'First Name': 'Carolina', 'Last Name': 'Murray', 'Email': 'carolina.murray@knight.com'}, {'Contact ID': 4842, 'First Name': 'Kayla', 'Last Name': 'Moon', 'Email': 'kayla.moon@yahoo.de'}, {'Contact ID': 3280, 'First Name': 'Ariadna', 'Last Name': 'Geisel', 'Email': 'ariadna.geisel@rangel.com'}, {'Contact ID': 5468, 'First Name': 'Danielle', 'Last Name': 'Ladeck', 'Email': 'danielle.ladeck@scalfaro.net'}, {'Contact ID': 3064, 'First Name': 'Tatiana', 'Last Name': 'Thompson', 'Email': 'tatiana.thompson@hunt.net'}, {'Contact ID': 4904, 'First Name': 'Caleb', 'Last Name': 'Benavides', 'Email': 'caleb.benavides@rubio.com'}, {'Contact ID': 1299, 'First Name': 'Sandra', 'Last Name': 'Hardy', 'Email': 'sandra.hardy@web.de'}, {'Contact ID': 5602, 'First Name': 'Lotti', 'Last Name': 'Morris', 'Email': 'lotti.morris@yahoo.co.uk'}, {'Contact ID': 5753, 'First Name': 'Reinhilde', 'Last Name': 'White', 'Email': 'reinhilde.white@voila.fr'}, {'Contact ID': 4495, 'First Name': 'Kerry', 'Last Name': 'Patel', 'Email': 'kerry.patel@hutchinson.com'}, {'Contact ID': 4269, 'First Name': 'Sophie', 'Last Name': 'Antoine', 'Email': 'sophie.antoine@andersen.com'}, {'Contact ID': 2226, 'First Name': 'Martha', 'Last Name': 'Girard', 'Email': 'martha.girard@web.de'}, {'Contact ID': 1558, 'First Name': 'Stephanie', 'Last Name': 'King', 'Email': 'stephanie.king@cervantes.com'}, {'Contact ID': 2307, 'First Name': 'Amanda', 'Last Name': 'Palmer', 'Email': 'amanda.palmer@didier.fr'}, {'Contact ID': 2900, 'First Name': 'Lina', 'Last Name': 'Alcala', 'Email': 'lina.alcala@vespa.net'}, {'Contact ID': 5695, 'First Name': 'Itzel', 'Last Name': 'Murphy', 'Email': 'itzel.murphy@muelichen.de'}, {'Contact ID': 5708, 'First Name': 'Filippo', 'Last Name': 'Parry', 'Email': 'filippo.parry@live.com'}, {'Contact ID': 1663, 'First Name': 'Katelyn', 'Last Name': 'Cole', 'Email': 'katelyn.cole@fiebig.com'}, {'Contact ID': 3605, 'First Name': 'Brian', 'Last Name': 'Novak', 'Email': 'brian.novak@ford.net'}, {'Contact ID': 4678, 'First Name': 'Cilly', 'Last Name': 'Gay', 'Email': 'cilly.gay@callegaro.it'}, {'Contact ID': 2251, 'First Name': 'Yolanda', 'Last Name': 'Snyder', 'Email': 'yolanda.snyder@gmx.de'}, {'Contact ID': 6202, 'First Name': 'Evelin', 'Last Name': 'Odonnell', 'Email': 'evelin.odonnell@ibarra.net'}, {'Contact ID': 3715, 'First Name': 'Ingeborg', 'Last Name': 'Alba', 'Email': 'ingeborg.alba@hotmail.com'}, {'Contact ID': 4242, 'First Name': 'Marina', 'Last Name': 'Madrid', 'Email': 'marina.madrid@galarza-alba.com'}, {'Contact ID': 4326, 'First Name': 'Sheila', 'Last Name': 'Goodwin', 'Email': 'sheila.goodwin@yahoo.com'}, {'Contact ID': 5560, 'First Name': 'Valeria', 'Last Name': 'Rich', 'Email': 'valeria.rich@turchetta-mondadori.it'}, {'Contact ID': 4002, 'First Name': 'Dustin', 'Last Name': 'Camacho', 'Email': 'dustin.camacho@rhodes.org.au'}, {'Contact ID': 3813, 'First Name': 'Amalia', 'Last Name': 'Marenzio', 'Email': 'amalia.marenzio@grupo.com'}, {'Contact ID': 5336, 'First Name': 'Gian', 'Last Name': 'Long', 'Email': 'gian.long@hotmail.com'}, {'Contact ID': 4994, 'First Name': 'Stewart', 'Last Name': 'Hunt', 'Email': 'stewart.hunt@anderson-vargas.biz'}, {'Contact ID': 1471, 'First Name': 'Greca', 'Last Name': 'Ruiz', 'Email': 'greca.ruiz@carr.co.uk'}, {'Contact ID': 4482, 'First Name': 'Gerald', 'Last Name': 'Olivera', 'Email': 'gerald.olivera@outlook.com'}, {'Contact ID': 3241, 'First Name': 'Jaqueline', 'Last Name': 'Wallace', 'Email': 'jaqueline.wallace@gmail.com'}, {'Contact ID': 3477, 'First Name': 'John', 'Last Name': 'Lane', 'Email': 'john.lane@gregoire.fr'}, {'Contact ID': 2265, 'First Name': 'Pero', 'Last Name': 'Joly', 'Email': 'pero.joly@bernard.net'}, {'Contact ID': 5911, 'First Name': 'Chad', 'Last Name': 'Turner', 'Email': 'chad.turner@gmail.com'}, {'Contact ID': 2288, 'First Name': 'Adam', 'Last Name': 'Zavala', 'Email': 'adam.zavala@guichard.fr'}, {'Contact ID': 4064, 'First Name': 'Tyler', 'Last Name': 'Rivera', 'Email': 'tyler.rivera@guajardo-ozuna.com'}, {'Contact ID': 1294, 'First Name': 'Jens', 'Last Name': 'Graham', 'Email': 'jens.graham@jones-buckley.com'}, {'Contact ID': 5008, 'First Name': 'Virginia', 'Last Name': 'Caetani', 'Email': 'virginia.caetani@sosa.biz'}, {'Contact ID': 3604, 'First Name': 'Martino', 'Last Name': 'Wagner', 'Email': 'martino.wagner@laposte.net'}, {'Contact ID': 3263, 'First Name': 'Martin', 'Last Name': 'Meyer', 'Email': 'martin.meyer@davis.co.uk'}, {'Contact ID': 5631, 'First Name': 'Marguerite', 'Last Name': 'Walls', 'Email': 'marguerite.walls@martinez.fr'}, {'Contact ID': 2851, 'First Name': 'Peter', 'Last Name': 'Vogt', 'Email': 'peter.vogt@yahoo.com'}, {'Contact ID': 3714, 'First Name': 'Nicholas', 'Last Name': 'Christian', 'Email': 'nicholas.christian@hotmail.de'}, {'Contact ID': 1664, 'First Name': 'Susi', 'Last Name': 'Steinberg', 'Email': 'susi.steinberg@preiss.com'}, {'Contact ID': 5027, 'First Name': 'Tammy', 'Last Name': 'Ramazzotti', 'Email': 'tammy.ramazzotti@gmail.com'}, {'Contact ID': 3070, 'First Name': 'Abdul', 'Last Name': 'Thomas', 'Email': 'abdul.thomas@vasari.com'}, {'Contact ID': 4248, 'First Name': 'Justin', 'Last Name': 'Luxardo', 'Email': 'justin.luxardo@googlemail.com'}, {'Contact ID': 2034, 'First Name': 'Antonio', 'Last Name': 'Gibson', 'Email': 'antonio.gibson@faust.net'}, {'Contact ID': 4085, 'First Name': 'Jeremy', 'Last Name': 'Gomez', 'Email': 'jeremy.gomez@oconnor.org'}, {'Contact ID': 3569, 'First Name': 'Raymond', 'Last Name': 'Solorzano', 'Email': 'raymond.solorzano@gmail.com'}, {'Contact ID': 3889, 'First Name': 'Flora', 'Last Name': 'Harris', 'Email': 'flora.harris@hotmail.com.au'}, {'Contact ID': 3136, 'First Name': 'Cheryl', 'Last Name': 'Boyd', 'Email': 'cheryl.boyd@segni.it'}, {'Contact ID': 2103, 'First Name': 'Rhys', 'Last Name': 'Leiva', 'Email': 'rhys.leiva@gmx.de'}, {'Contact ID': 2329, 'First Name': 'Mariano', 'Last Name': 'Prieto', 'Email': 'mariano.prieto@vodafone.it'}, {'Contact ID': 3325, 'First Name': 'Laurie', 'Last Name': 'Fibonacci', 'Email': 'laurie.fibonacci@gmail.com'}, {'Contact ID': 3131, 'First Name': 'David', 'Last Name': 'Rudolph', 'Email': 'david.rudolph@nelson.com'}, {'Contact ID': 4995, 'First Name': 'Bryan', 'Last Name': 'Ross', 'Email': 'bryan.ross@yahoo.com'}, {'Contact ID': 3631, 'First Name': 'Ubaldo', 'Last Name': 'Brown', 'Email': 'ubaldo.brown@philippe.com'}, {'Contact ID': 5373, 'First Name': 'Clelia', 'Last Name': 'Faulkner', 'Email': 'clelia.faulkner@hotmail.com'}, {'Contact ID': 3126, 'First Name': 'Sara', 'Last Name': 'Erickson', 'Email': 'sara.erickson@yahoo.de'}, {'Contact ID': 2194, 'First Name': 'Rupert', 'Last Name': 'Valle', 'Email': 'rupert.valle@filogamo.it'}, {'Contact ID': 2906, 'First Name': 'Puccio', 'Last Name': 'Kitzmann', 'Email': 'puccio.kitzmann@yahoo.com'}, {'Contact ID': 2611, 'First Name': 'Thomas', 'Last Name': 'Hutchinson', 'Email': 'thomas.hutchinson@gmx.de'}, {'Contact ID': 2374, 'First Name': 'Abelardo', 'Last Name': 'Castro', 'Email': 'abelardo.castro@gmail.com'}, {'Contact ID': 3254, 'First Name': 'Greco', 'Last Name': 'Walker', 'Email': 'greco.walker@yahoo.com'}, {'Contact ID': 3571, 'First Name': 'Miranda', 'Last Name': 'Lacombe', 'Email': 'miranda.lacombe@longoria-vanegas.net'}, {'Contact ID': 2812, 'First Name': 'Diana', 'Last Name': 'Schuchhardt', 'Email': 'diana.schuchhardt@libero.it'}, {'Contact ID': 3961, 'First Name': 'Stacey', 'Last Name': 'Knox', 'Email': 'stacey.knox@corporacin.com'}, {'Contact ID': 3872, 'First Name': 'Glen', 'Last Name': 'Faivre', 'Email': 'glen.faivre@yahoo.com'}, {'Contact ID': 4736, 'First Name': 'Andrew', 'Last Name': 'Torres', 'Email': 'andrew.torres@ruiz-torres.org'}, {'Contact ID': 5119, 'First Name': 'Denny', 'Last Name': 'Fritz', 'Email': 'denny.fritz@despacho.biz'}, {'Contact ID': 5725, 'First Name': 'Martyn', 'Last Name': 'Caldera', 'Email': 'martyn.caldera@hotmail.co.uk'}, {'Contact ID': 4037, 'First Name': 'Abigail', 'Last Name': 'Foster', 'Email': 'abigail.foster@taylor.net'}, {'Contact ID': 2109, 'First Name': 'Anthony', 'Last Name': 'Hauffer', 'Email': 'anthony.hauffer@tlustek.org'}, {'Contact ID': 3283, 'First Name': 'Roger', 'Last Name': 'Gerlach', 'Email': 'roger.gerlach@may-mitchell.co.uk'}, {'Contact ID': 6181, 'First Name': 'Christopher', 'Last Name': 'Poirier', 'Email': 'christopher.poirier@hotmail.com'}, {'Contact ID': 3251, 'First Name': 'Branka', 'Last Name': 'Traore', 'Email': 'branka.traore@jacobi.com'}, {'Contact ID': 3443, 'First Name': 'Briana', 'Last Name': 'Etienne', 'Email': 'briana.etienne@bishop-coates.com'}, {'Contact ID': 2988, 'First Name': 'Brandon', 'Last Name': 'Olson', 'Email': 'brandon.olson@prince-moreno.net'}, {'Contact ID': 1673, 'First Name': 'Celia', 'Last Name': 'Ungaretti', 'Email': 'celia.ungaretti@fox.com'}, {'Contact ID': 2085, 'First Name': 'Barbara', 'Last Name': 'Guibert', 'Email': 'barbara.guibert@casares-sanches.com'}, {'Contact ID': 1672, 'First Name': 'Daniela', 'Last Name': 'Bell', 'Email': 'daniela.bell@vollbrecht.org'}, {'Contact ID': 4426, 'First Name': 'Phyllis', 'Last Name': 'Gurule', 'Email': 'phyllis.gurule@rodriguez-pham.com'}, {'Contact ID': 3211, 'First Name': 'Alejandra', 'Last Name': 'Joseph', 'Email': 'alejandra.joseph@escalante-abrego.biz'}, {'Contact ID': 3190, 'First Name': 'Giulio', 'Last Name': 'Bohlander', 'Email': 'giulio.bohlander@dbmail.com'}, {'Contact ID': 2081, 'First Name': 'Amber', 'Last Name': 'Weller', 'Email': 'amber.weller@toso.eu'}, {'Contact ID': 3185, 'First Name': 'Mary', 'Last Name': 'Etzold', 'Email': 'mary.etzold@conrad-harrison.com'}, {'Contact ID': 5044, 'First Name': 'Amy', 'Last Name': 'Georges', 'Email': 'amy.georges@raedel.de'}, {'Contact ID': 1883, 'First Name': 'Jennifer', 'Last Name': 'Giraud', 'Email': 'jennifer.giraud@yahoo.com'}, {'Contact ID': 2067, 'First Name': 'Rosie', 'Last Name': 'Peltier', 'Email': 'rosie.peltier@voila.fr'}, {'Contact ID': 4604, 'First Name': 'Oreste', 'Last Name': 'Ward', 'Email': 'oreste.ward@proyectos.com'}, {'Contact ID': 3203, 'First Name': 'Luis', 'Last Name': 'Edwards', 'Email': 'luis.edwards@live.com'}, {'Contact ID': 5758, 'First Name': 'Fiona', 'Last Name': 'Griffiths', 'Email': 'fiona.griffiths@curatoli-verdone.it'}, {'Contact ID': 5755, 'First Name': 'Sally', 'Last Name': 'Raya', 'Email': 'sally.raya@tarchetti.it'}, {'Contact ID': 5150, 'First Name': 'Carolyn', 'Last Name': 'Charpentier', 'Email': 'carolyn.charpentier@hotmail.de'}, {'Contact ID': 4181, 'First Name': 'Nathalie', 'Last Name': 'Alvarez', 'Email': 'nathalie.alvarez@live.com'}, {'Contact ID': 3006, 'First Name': 'Abril', 'Last Name': 'Lowery', 'Email': 'abril.lowery@novak.net'}, {'Contact ID': 4865, 'First Name': 'Ottone', 'Last Name': 'Sullivan', 'Email': 'ottone.sullivan@hussain-kaur.com'}, {'Contact ID': 2862, 'First Name': 'Esmeralda', 'Last Name': 'Sollima', 'Email': 'esmeralda.sollima@visintini.it'}, {'Contact ID': 6070, 'First Name': 'Silvia', 'Last Name': 'Gierschner', 'Email': 'silvia.gierschner@tele2.it'}, {'Contact ID': 5300, 'First Name': 'Kyle', 'Last Name': 'Cunningham', 'Email': 'kyle.cunningham@voila.fr'}, {'Contact ID': 3486, 'First Name': 'Anel', 'Last Name': 'Carpentier', 'Email': 'anel.carpentier@klein-joseph.org'}, {'Contact ID': 5989, 'First Name': 'Sarah', 'Last Name': 'Davis', 'Email': 'sarah.davis@david.com'}, {'Contact ID': 2849, 'First Name': 'Luke', 'Last Name': 'Klein', 'Email': 'luke.klein@hotmail.com'}, {'Contact ID': 1612, 'First Name': 'Gudrun', 'Last Name': 'Mueller', 'Email': 'gudrun.mueller@dillon-fuller.info'}, {'Contact ID': 3307, 'First Name': 'Melissa', 'Last Name': 'Canali', 'Email': 'melissa.canali@libero.it'}, {'Contact ID': 5288, 'First Name': 'Gabrielle', 'Last Name': 'Ayala', 'Email': 'gabrielle.ayala@hotmail.com'}, {'Contact ID': 6026, 'First Name': 'Laura', 'Last Name': 'Buckley', 'Email': 'laura.buckley@ryan.org'}, {'Contact ID': 2212, 'First Name': 'Wilfrido', 'Last Name': 'Lorch', 'Email': 'wilfrido.lorch@leclerc.fr'}, {'Contact ID': 4591, 'First Name': 'Robert', 'Last Name': 'Bruder', 'Email': 'robert.bruder@manzoni.com'}, {'Contact ID': 2771, 'First Name': 'Phillip', 'Last Name': 'Soliz', 'Email': 'phillip.soliz@outlook.com'}, {'Contact ID': 5682, 'First Name': 'Alex', 'Last Name': 'Smith', 'Email': 'alex.smith@fournier.fr'}, {'Contact ID': 5368, 'First Name': 'Jessica', 'Last Name': 'Martinez', 'Email': 'jessica.martinez@salieri.com'}, {'Contact ID': 3706, 'First Name': 'Kelly', 'Last Name': 'Carter', 'Email': 'kelly.carter@hotmail.com.au'}, {'Contact ID': 4034, 'First Name': 'Ahmad', 'Last Name': 'Sosa', 'Email': 'ahmad.sosa@gmail.com'}, {'Contact ID': 3209, 'First Name': 'Toralf', 'Last Name': 'Iglesias', 'Email': 'toralf.iglesias@borrego.com'}, {'Contact ID': 2384, 'First Name': 'Irene', 'Last Name': 'Anichini', 'Email': 'irene.anichini@yahoo.com'}, {'Contact ID': 3074, 'First Name': 'Alicia', 'Last Name': 'Cainero', 'Email': 'alicia.cainero@yahoo.com'}, {'Contact ID': 2031, 'First Name': 'Tracey', 'Last Name': 'Laboy', 'Email': 'tracey.laboy@bell.biz'}, {'Contact ID': 5873, 'First Name': 'Donald', 'Last Name': 'Reynaud', 'Email': 'donald.reynaud@green.edu.au'}, {'Contact ID': 5501, 'First Name': 'Venancio', 'Last Name': 'Stadelmann', 'Email': 'venancio.stadelmann@gmx.de'}, {'Contact ID': 3489, 'First Name': 'Seth', 'Last Name': 'Olivier', 'Email': 'seth.olivier@yahoo.com'}, {'Contact ID': 4210, 'First Name': 'Dennis', 'Last Name': 'Boaga', 'Email': 'dennis.boaga@gmx.de'}, {'Contact ID': 6151, 'First Name': 'Pedro', 'Last Name': 'Wilson', 'Email': 'pedro.wilson@outlook.com'}, {'Contact ID': 6047, 'First Name': 'Roland', 'Last Name': 'Weihmann', 'Email': 'roland.weihmann@gmail.com'}, {'Contact ID': 5445, 'First Name': 'Hector', 'Last Name': 'Morrison', 'Email': 'hector.morrison@web.de'}, {'Contact ID': 5493, 'First Name': 'Evangelos', 'Last Name': 'Peters', 'Email': 'evangelos.peters@sanchez.net'}, {'Contact ID': 6036, 'First Name': 'Gerardo', 'Last Name': 'Hamilton', 'Email': 'gerardo.hamilton@libero.it'}, {'Contact ID': 2368, 'First Name': 'Meta', 'Last Name': 'Cuzzocrea', 'Email': 'meta.cuzzocrea@howard-jensen.org'}, {'Contact ID': 1501, 'First Name': 'Alma', 'Last Name': 'Raymond', 'Email': 'alma.raymond@tin.it'}, {'Contact ID': 4351, 'First Name': 'Kathleen', 'Last Name': 'Solimena', 'Email': 'kathleen.solimena@wallace.biz'}, {'Contact ID': 3096, 'First Name': 'Zacharie', 'Last Name': 'Cordier', 'Email': 'zacharie.cordier@gmail.com'}, {'Contact ID': 6162, 'First Name': 'Riza', 'Last Name': 'Techer', 'Email': 'riza.techer@yahoo.com'}, {'Contact ID': 1433, 'First Name': 'Enrique', 'Last Name': 'Guillen', 'Email': 'enrique.guillen@hotmail.co.uk'}, {'Contact ID': 2720, 'First Name': 'Tristan', 'Last Name': 'Weeks', 'Email': 'tristan.weeks@pena.com'}, {'Contact ID': 5251, 'First Name': 'Natalie', 'Last Name': 'Lerma', 'Email': 'natalie.lerma@boucher.com'}, {'Contact ID': 1797, 'First Name': 'Rodney', 'Last Name': 'Hamon', 'Email': 'rodney.hamon@hotmail.com'}, {'Contact ID': 1656, 'First Name': 'Adalberto', 'Last Name': 'Lombardo', 'Email': 'adalberto.lombardo@sfr.fr'}, {'Contact ID': 1346, 'First Name': 'Florencia', 'Last Name': 'Querini', 'Email': 'florencia.querini@gmail.com'}, {'Contact ID': 2989, 'First Name': 'Liam', 'Last Name': 'Rolland', 'Email': 'liam.rolland@yahoo.fr'}, {'Contact ID': 5629, 'First Name': 'Ian', 'Last Name': 'Kelly', 'Email': 'ian.kelly@reeves.com.au'}, {'Contact ID': 3456, 'First Name': 'Mehdi', 'Last Name': 'Todd', 'Email': 'mehdi.todd@web.de'}, {'Contact ID': 3229, 'First Name': 'Rembrandt', 'Last Name': 'Liguori', 'Email': 'rembrandt.liguori@davis.org'}, {'Contact ID': 2277, 'First Name': 'Irmi', 'Last Name': 'Schweitzer', 'Email': 'irmi.schweitzer@ozuna.com'}, {'Contact ID': 1276, 'First Name': 'Gioffre', 'Last Name': 'Stein', 'Email': 'gioffre.stein@hotmail.com.au'}, {'Contact ID': 3694, 'First Name': 'Frida', 'Last Name': 'Villarreal', 'Email': 'frida.villarreal@hotmail.de'}, {'Contact ID': 2260, 'First Name': 'Steffen', 'Last Name': 'Mangold', 'Email': 'steffen.mangold@paul.net'}, {'Contact ID': 5374, 'First Name': 'Elias', 'Last Name': 'Marin', 'Email': 'elias.marin@herve.net'}, {'Contact ID': 4420, 'First Name': 'Roman', 'Last Name': 'Gonzalez', 'Email': 'roman.gonzalez@anderson.net'}, {'Contact ID': 3849, 'First Name': 'Reina', 'Last Name': 'Middleton', 'Email': 'reina.middleton@hotmail.com'}, {'Contact ID': 1638, 'First Name': 'Sandro', 'Last Name': 'Moran', 'Email': 'sandro.moran@hotmail.de'}, {'Contact ID': 5230, 'First Name': 'Gebhard', 'Last Name': 'Thanel', 'Email': 'gebhard.thanel@gmail.com'}, {'Contact ID': 1763, 'First Name': 'Antonino', 'Last Name': 'Bolander', 'Email': 'antonino.bolander@gmail.com'}, {'Contact ID': 4323, 'First Name': 'Karl', 'Last Name': 'Trevisani', 'Email': 'karl.trevisani@anguissola.it'}, {'Contact ID': 5256, 'First Name': 'Silvester', 'Last Name': 'Brookes', 'Email': 'silvester.brookes@franco.org'}, {'Contact ID': 4836, 'First Name': 'Octavio', 'Last Name': 'Pratt', 'Email': 'octavio.pratt@web.de'}, {'Contact ID': 5981, 'First Name': 'Rebecca', 'Last Name': 'Greer', 'Email': 'rebecca.greer@hotmail.com'}, {'Contact ID': 1463, 'First Name': 'Pierina', 'Last Name': 'Gaggini', 'Email': 'pierina.gaggini@free.fr'}, {'Contact ID': 4577, 'First Name': 'Robin', 'Last Name': 'Schleich', 'Email': 'robin.schleich@rogers-barrera.biz'}, {'Contact ID': 4951, 'First Name': 'Sergio', 'Last Name': 'Abbott', 'Email': 'sergio.abbott@moore.net.au'}, {'Contact ID': 3567, 'First Name': 'Gilberto', 'Last Name': 'Evans', 'Email': 'gilberto.evans@salcedo-archuleta.net'}, {'Contact ID': 5475, 'First Name': 'James', 'Last Name': 'Elliott', 'Email': 'james.elliott@gmail.com'}, {'Contact ID': 2114, 'First Name': 'Timoteo', 'Last Name': 'Bolnbach', 'Email': 'timoteo.bolnbach@laboratorios.com'}, {'Contact ID': 5216, 'First Name': 'Tonino', 'Last Name': 'Stanley', 'Email': 'tonino.stanley@hotmail.com'}, {'Contact ID': 1665, 'First Name': 'Margaretha', 'Last Name': 'Murialdo', 'Email': 'margaretha.murialdo@meunier.com'}, {'Contact ID': 6051, 'First Name': 'Bianca', 'Last Name': 'Drubin', 'Email': 'bianca.drubin@libero.it'}, {'Contact ID': 3983, 'First Name': 'Kaylee', 'Last Name': 'Hoffmann', 'Email': 'kaylee.hoffmann@poulain.com'}, {'Contact ID': 2966, 'First Name': 'Teresa', 'Last Name': 'Vecellio', 'Email': 'teresa.vecellio@yahoo.com'}, {'Contact ID': 4478, 'First Name': 'Emine', 'Last Name': 'Tacchini', 'Email': 'emine.tacchini@dbmail.com'}, {'Contact ID': 4238, 'First Name': 'Dawn', 'Last Name': 'Cortez', 'Email': 'dawn.cortez@gmail.com'}, {'Contact ID': 4404, 'First Name': 'Emily', 'Last Name': 'Cundari', 'Email': 'emily.cundari@clark.com.au'}, {'Contact ID': 5666, 'First Name': 'Eleanor', 'Last Name': 'Hall', 'Email': 'eleanor.hall@hotmail.com'}, {'Contact ID': 3691, 'First Name': 'Monique', 'Last Name': 'Delgadillo', 'Email': 'monique.delgadillo@hotmail.co.uk'}, {'Contact ID': 2703, 'First Name': 'Arnaude', 'Last Name': 'Warner', 'Email': 'arnaude.warner@gmail.com'}, {'Contact ID': 4253, 'First Name': 'Jason', 'Last Name': 'Howell', 'Email': 'jason.howell@gmx.de'}, {'Contact ID': 5652, 'First Name': 'Nicole', 'Last Name': 'Mccullough', 'Email': 'nicole.mccullough@hall.com'}, {'Contact ID': 3279, 'First Name': 'Rosmarie', 'Last Name': 'Esquibel', 'Email': 'rosmarie.esquibel@bouygtel.fr'}, {'Contact ID': 3

In [32]:
# Check the datatypes.
data_types = contact_info_df.dtypes
print(data_types)

parsed_data    object
contact_id      int64
email          object
first_name     object
last_name      object
dtype: object

In [33]:
# Reorder the columns
contacts_df_clean = contact_info_df[['contact_id', 'first_name', 'last_name', 'email']]
contacts_df_clean.head(10)

    contact_id first_name last_name                         email
1         4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
2         3765    Mariana     Ellis       mariana.ellis@rossi.org
3         4187      Sofie     Woods       sofie.woods@riviere.com
4         4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
5         2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com
6         5650    Socorro      Luna      socorro.luna@hotmail.com
7         5889   Carolina    Murray    carolina.murray@knight.com
8         4842      Kayla      Moon           kayla.moon@yahoo.de
9         3280    Ariadna    Geisel     ariadna.geisel@rangel.com
10        5468   Danielle    Ladeck  danielle.ladeck@scalfaro.net

In [34]:
# Check the datatypes one more time before exporting as CSV file.
data_types = contacts_df_clean.dtypes
print(data_types)

contact_id     int64
first_name    object
last_name     object
email         object
dtype: object

In [35]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.

In [36]:
contact_info_df_copy = pd.read_excel('Resources/contacts.xlsx', header=2)
contact_info_df_copy.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

In [37]:
# Extract the four-digit contact ID number.
contact_info_df_copy.column = "contact_info"
contact_info_df_copy['contact_id'] = contact_info_df_copy['   '].iloc[1:].str.extract(pat = '(\d{4})')[0]
contact_info_df_copy = contact_info_df_copy[1:]
contact_info_df_copy.head()

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\DeePra\AppData\Local\Temp\ipykernel_6008\2776036932.py:3: SyntaxWarning: invalid escape sequence '\d'
  contact_info_df_copy['contact_id'] = contact_info_df_copy['   '].iloc[1:].str.extract(pat = '(\d{4})')[0]

,,contact_id
1,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661
2,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765
3,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187
4,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941
5,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199

In [38]:
# Check the datatypes.
contact_info_df_copy.columns = ["contact_info", "contact_id"]
contact_info_df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 1 to 1000
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
 1   contact_id    1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [39]:
# Convert the "contact_id" column to an int64 data type.
contact_info_df_copy['contact_id'] = contact_info_df_copy['contact_id'].astype('int64', copy=None, errors='raise')
contact_info_df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 1 to 1000
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
 1   contact_id    1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [40]:
# Extract the name of the contact and add it to a new column.
contact_info_df_copy['name'] = contact_info_df_copy['contact_info'].str.extract(pat = '([^name"\s][A-Za-z]+\s+[A-Za-z]+)')
contact_info_df_copy.head(10)

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\DeePra\AppData\Local\Temp\ipykernel_6008\4119258418.py:2: SyntaxWarning: invalid escape sequence '\s'
  contact_info_df_copy['name'] = contact_info_df_copy['contact_info'].str.extract(pat = '([^name"\s][A-Za-z]+\s+[A-Za-z]+)')

,contact_info,contact_id,name
1,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661,Cecilia Velasco
2,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765,Mariana Ellis
3,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187,Sofie Woods
4,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941,Jeanette Iannotti
5,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199,Samuel Sorgatz
6,"{""contact_id"": 5650, ""name"": ""Socorro Luna"", ""email"": ""socorro.luna@hotmail.com""}",5650,Socorro Luna
7,"{""contact_id"": 5889, ""name"": ""Carolina Murray"", ""email"": ""carolina.murray@knight.com""}",5889,Carolina Murray
8,"{""contact_id"": 4842, ""name"": ""Kayla Moon"", ""email"": ""kayla.moon@yahoo.de""}",4842,Kayla Moon
9,"{""contact_id"": 3280, ""name"": ""Ariadna Geisel"", ""email"": ""ariadna.geisel@rangel.com""}",3280,Ariadna Geisel
10,"{""contact_id"": 5468, ""name"": ""Danielle Ladeck"", ""email"": ""danielle.ladeck@scalfaro.net""}",5468,Danielle Ladeck

In [41]:
# Extract the email from the contacts and add the values to a new column.
contact_info_df_copy['email'] = contact_info_df_copy['contact_info'].str.extract(pat = '"(\S+@\S+)"')
contact_info_df_copy.head(10)

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\DeePra\AppData\Local\Temp\ipykernel_6008\1013646873.py:2: SyntaxWarning: invalid escape sequence '\S'
  contact_info_df_copy['email'] = contact_info_df_copy['contact_info'].str.extract(pat = '"(\S+@\S+)"')

,contact_info,contact_id,name,email
1,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr
2,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765,Mariana Ellis,mariana.ellis@rossi.org
3,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187,Sofie Woods,sofie.woods@riviere.com
4,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com
5,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199,Samuel Sorgatz,samuel.sorgatz@gmail.com
6,"{""contact_id"": 5650, ""name"": ""Socorro Luna"", ""email"": ""socorro.luna@hotmail.com""}",5650,Socorro Luna,socorro.luna@hotmail.com
7,"{""contact_id"": 5889, ""name"": ""Carolina Murray"", ""email"": ""carolina.murray@knight.com""}",5889,Carolina Murray,carolina.murray@knight.com
8,"{""contact_id"": 4842, ""name"": ""Kayla Moon"", ""email"": ""kayla.moon@yahoo.de""}",4842,Kayla Moon,kayla.moon@yahoo.de
9,"{""contact_id"": 3280, ""name"": ""Ariadna Geisel"", ""email"": ""ariadna.geisel@rangel.com""}",3280,Ariadna Geisel,ariadna.geisel@rangel.com
10,"{""contact_id"": 5468, ""name"": ""Danielle Ladeck"", ""email"": ""danielle.ladeck@scalfaro.net""}",5468,Danielle Ladeck,danielle.ladeck@scalfaro.net

In [42]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.
contact_info_df_v02 = contact_info_df_copy[['contact_id', 'name', 'email']]
contact_info_df_v02.head(10)

    contact_id               name                         email
1         4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
2         3765      Mariana Ellis       mariana.ellis@rossi.org
3         4187        Sofie Woods       sofie.woods@riviere.com
4         4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
5         2199     Samuel Sorgatz      samuel.sorgatz@gmail.com
6         5650       Socorro Luna      socorro.luna@hotmail.com
7         5889    Carolina Murray    carolina.murray@knight.com
8         4842         Kayla Moon           kayla.moon@yahoo.de
9         3280     Ariadna Geisel     ariadna.geisel@rangel.com
10        5468    Danielle Ladeck  danielle.ladeck@scalfaro.net

In [43]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
contact_info_df_v02[["first_name", "last_name"]] = contact_info_df_v02['name'].str.split(' ',n=2,expand=True)

# Drop the contact_name column
contact_info_df_v02 = contact_info_df_v02.drop(["name"], axis=1)
contact_info_df_v02.head(10)

    contact_id                         email first_name last_name
1         4661  cecilia.velasco@rodrigues.fr    Cecilia   Velasco
2         3765       mariana.ellis@rossi.org    Mariana     Ellis
3         4187       sofie.woods@riviere.com      Sofie     Woods
4         4941   jeanette.iannotti@yahoo.com   Jeanette  Iannotti
5         2199      samuel.sorgatz@gmail.com     Samuel   Sorgatz
6         5650      socorro.luna@hotmail.com    Socorro      Luna
7         5889    carolina.murray@knight.com   Carolina    Murray
8         4842           kayla.moon@yahoo.de      Kayla      Moon
9         3280     ariadna.geisel@rangel.com    Ariadna    Geisel
10        5468  danielle.ladeck@scalfaro.net   Danielle    Ladeck

In [44]:
# Reorder the columns
contacts_df_clean_v02 = contact_info_df_v02[['contact_id', 'first_name', 'last_name','email']]
contacts_df_clean_v02.head(10)

    contact_id first_name last_name                         email
1         4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
2         3765    Mariana     Ellis       mariana.ellis@rossi.org
3         4187      Sofie     Woods       sofie.woods@riviere.com
4         4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
5         2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com
6         5650    Socorro      Luna      socorro.luna@hotmail.com
7         5889   Carolina    Murray    carolina.murray@knight.com
8         4842      Kayla      Moon           kayla.moon@yahoo.de
9         3280    Ariadna    Geisel     ariadna.geisel@rangel.com
10        5468   Danielle    Ladeck  danielle.ladeck@scalfaro.net

In [45]:
# Check the datatypes one more time before exporting as CSV file.
contacts_df_clean_v02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 1 to 1000
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   email       1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [46]:
# Export the DataFrame as a CSV file. 
contacts_df_clean_v02.to_csv("Resources/contacts_v02.csv", encoding='utf8', index=False)